@font-face {
  font-family: Arial;
  src: url(../font/ArialCE.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Roboto Condensed Bold;
  src: url(../font/Roboto-BoldCondensed.ttf);
  font-weight: 100;
}
@font-face {
  font-family: UTMAvoBold;
  src: url(../font/UTMAvoBold.ttf);
  font-weight: 100;
}
@font-face {
  font-family: UTMAmericanaB;
  src: url(../font/UTMAmericanaB.ttf);
  font-weight: 100;
}
.banner-lienhe img {
  width: 100%;
}
.infor h1 {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: bold;
  margin-bottom: 0;
  color: #000;
  line-height: 20px;
}
.infor p {
  font-size: 14px;
  font-family: "Roboto Condensed";
}
.form-contact label {
  color: #006c5c;
  font-family: "Roboto Condensed";
  font-weight: normal;
  margin-bottom: 10px;
}
.form-contact label,
.form-contact input,
.form-contact textarea {
  width: 100%;
  display: block;
}
.form-contact input {
  padding-left: 12px;
  padding-right: 12px;
  min-height: 50px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}
.form-contact input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
}
.form-contact textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.4);
}
.form-contact input,
.form-contact textarea {
  border: 1px solid #b0b0b0;
  border-radius: 2px;
  color: black;
  margin-bottom: 20px;
}
.form-contact button {
  height: 38px;
  line-height: 38px;
  width: 150px;
  color: white;
  background: #32b1ec;
  text-align: center;
  border: 1px solid #32b1ec;
  border-radius: 2px;
  margin-bottom: 20px;
}
.form-contact button:hover {
  color: #164e62;
  background: #c8dae2;
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
  -webkit-transition: background-color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}
